---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Podmienky ochrany osobných údajov">
  <section class="section p-[0]">
    <object data="/gdpr.pdf#toolbar=1&navpanes=0" type="application/pdf" class="w-full h-[700px]"> </object>
  </section>
</Layout>
