---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Podmienky ochrany osobných údajov">
  <div class="section-wrapper">
    <section class="section section--without-separator">
      <object
        data="/gdpr.pdf#toolbar=1&navpanes=0"
        type="application/pdf"
        class="w-full h-[700px]"
      >
      </object>
    </section>
  </div>
</Layout>
