---
import Layout from "../layouts/Layout.astro";
---

<Layout title="title">
  <section class="section">
    <h1
      class="text-4xl font-extrabold tracking-tight leading-none md:text-5xl lg:text-6xl"
    >
      Kto verí v Slovensko?
    </h1>
    <p class="text-lg font-semibold">
      Najväčšou výzvou Slovenska nie sú politici, korupcia, zdravotníctvo,
      nenávisť voči LGBTI+, Rusko, západ, Ukrajina. Nie sú to ani ľudia
      nadávajúci na Slovensko, odchádzajúci z neho, tí čo mu pomáhajú alebo
      zneužívajú ho, okrádajú, či tí, čo ho analyzujú alebo rovno nejdú voliť.
      Nie! Všetko sú to symptómy. Našou najväčšou výzvou je, že v Slovensko verí
      v skutočnosti veľmi málo ľudí.<br />
      <br />
      Kto verí slovenským učiteľkám a učiteľom?<br />
      <br />
      A kto slovenským policajtom či zdravotníkom.<br />
      <br />
      Veríme slovenskému školstvu, podnikateľom, mestám, novinárom, študentom?
    </p>
  </section>
  <section class="section section--separated">
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda autem
      beatae corporis cum est, eveniet in ipsum maxime non quae rerum unde, ut.
      Debitis nihil odio omnis placeat quam, reprehenderit?
    </p>
  </section>
</Layout>
