---
import Layout from "../layouts/Layout.astro";

const meta = {
  title: "Zapni sa pre Slovensko",
  description:
    "Ak chcete pridať dobrovoľnícku aktivitu, obráťte sa prosím na konkrétne krajské dobrovoľnícke centrum, kde vám koordinátori a koordinátorky radi poskytnú bližšie informácie a odkonzultujú vašu dobrovoľnícku aktivitu.",
  keywords:
    "dôvera, inštitúcie, dobrovoľníctvo, zodpovednosť, slovensko, aktivita, firma, demokracia, dlhodobosť, spoločnosť",
};
---

<Layout {...meta}>
  <section class="section pt-[80px] pb-[40px]">
    <div class="section__content">
      <h2>Chcem zadať aktivitu</h2>

      <p class="max-w-[800px] mx-auto mt-[40px] text-center">
        Ak chcete pridať dobrovoľnícku aktivitu, obráťte sa prosím na konkrétne krajské dobrovoľnícke centrum, kde vám
        koordinátori a koordinátorky radi poskytnú bližšie informácie a odkonzultujú vašu dobrovoľnícku aktivitu.
      </p>

      <ul class="add-activity-contacts max-w-screen-tablet mx-auto mt-[40px]">
        <li>
          <span>Banskobystrický kraj:</span>
          <span>zapnisabb@dobrovolnictvo.sk,</span>
          <span>0908 411 917</span>
        </li>
        <li><span>Bratislavský kraj:</span> <span>zapnisaba@dobrovolnictvo.sk,</span> <span>0917 793 948</span></li>
        <li><span>Košický kraj:</span> <span>zapnisake@dobrovolnictvo.sk,</span> <span>0917 949 598</span></li>
        <li><span>Nitriansky kraj:</span> <span>zapnisanr@dobrovolnictvo.sk,</span> <span>0907 361 011</span></li>
        <li><span>Prešovský kraj:</span> <span>zapnisapo@dobrovolnictvo.sk,</span> <span>0948 870 577</span></li>
        <li><span>Trenčiansky kraj:</span> <span>zapnisatn@dobrovolnictvo.sk,</span> <span>0951 071 931</span></li>
        <li><span>Trnavský kraj:</span> <span>zapnisatt@dobrovolnictvo.sk,</span> <span>0949 209 865</span></li>
        <li><span>Žilinský kraj:</span> <span>zapnisaza@dobrovolnictvo.sk,</span> <span>+421 944 143 789</span></li>
      </ul>
    </div>
  </section>
</Layout>
