---
import Layout from "../layouts/Layout.astro";

const meta = {
  title: "Zapni sa pre Slovensko",
  description:
    "Ak chcete pridať dobrovoľnícku aktivitu, obráťte sa prosím na konkrétne krajské dobrovoľnícke centrum, kde vám koordinátori a koordinátorky radi poskytnú bližšie informácie a odkonzultujú vašu dobrovoľnícku aktivitu.",
  keywords:
    "dôvera, inštitúcie, dobrovoľníctvo, zodpovednosť, slovensko, aktivita, firma, demokracia, dlhodobosť, spoločnosť",
};
---

<Layout {...meta}>
  <section class="section pt-[80px] pb-[40px]">
    <div class="section__content">
      <h2>Chcem zadať aktivitu</h2>

      <p class="max-w-[800px] mx-auto mt-[40px] text-center">
        Ak chcete pridať dobrovoľnícku aktivitu, obráťte sa prosím na konkrétne krajské dobrovoľnícke centrum, kde vám
        koordinátori a koordinátorky radi poskytnú bližšie informácie a odkonzultujú vašu dobrovoľnícku aktivitu.
      </p>

      <ul class="add-activity-contacts max-w-screen-tablet mx-auto mt-[40px]">
        <li>
          <span>Banskobystrický kraj:</span>
          <span>www.centrumdobrovolnictva.sk,</span>
          <span>info@centrumdobrovolnictva.sk</span>
        </li>

        <li>
          <span>Bratislavský kraj:</span>
          <span>www.dobrovolnictvoba.sk,</span>
          <span>ahoj@dobrovolnictvoba.sk</span>
        </li>

        <li><span>Košický kraj:</span> <span>zapnisa@dobrovolnictvo.sk,</span></li>

        <li><span>Nitriansky kraj:</span> <span>www.ncdnitra.sk,</span> <span>ncdnitra@gmail.com</span></li>

        <li>
          <span>Prešovský kraj:</span>
          <span>www.dobrovolnictvopo.sk,</span>
          <span>info@dobrovolnictvopo.sk</span>
        </li>

        <li>
          <span>Trenčiansky kraj:</span>
          <span>www.dobrovolnictvotn.sk,</span>
          <span>tndobrovolnickecentrum@gmail.com</span>
        </li>

        <li>
          <span>Trnavský kraj:</span>
          <span>www.dobrovolnickecentrumtt.sk,</span>
          <span>info@dobrovolnickecentrumtt.sk</span>
        </li>

        <li><span>Žilinský kraj:</span> <span>www.dobrovolnictvoza.sk,</span> <span>dobrovolnictvo@ozviac.sk</span></li>
      </ul>
    </div>
  </section>
</Layout>
