---
import Layout from "../layouts/Layout.astro";
---

<Layout title="UI kit">
  <div class="flex flex-col gap-10 p-10 w-64">
    <a href="#" class="button">Podpor n치s</a>
    <a href="#" class="button button--secondary">Podpor n치s</a>
    <a href="#" class="button button--accent">Podpor n치s</a>
    <a href="#" class="button button--ghost">Podpor n치s</a>
    <input type="checkbox" class="checkbox" checked />
    <input type="checkbox" class="checkbox" />
    <div class="separator"></div>
  </div>
</Layout>
