---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="section-wrapper section-wrapper--large">
    <section class="section section--primary pt-[70px]">
      <div class="section__content grid grid-cols-1 tablet:grid-cols-2 gap-[50px]">
        <h1 class="tablet:text-right">Veríš v Slovensko?<br /><strong>Tak sa zapni.</strong></h1>

        <p class="tablet:mt-[12px]">
          Tu každý, kto verí v Slovensko môže spraviť niečo konkrétne. Celé Slovensko vyzývame sa zapnúť. Nemanipulujeme
          kampaňami, vyzývame k činnosti a zdieľame zodpovednosť. Dlhodobá, nekonečná aktivita. Odmeňujeme zapnutých.
        </p>
      </div>
    </section>

    <section class="section">
      <div class="section__content grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-[32px] justify-center">
        <a href="/ponuky-zapnut-sa" class="tile">Zapni sa</a>
        <a href="https://forms.gle/dFdxU3rbqX5f3F5n7" class="tile">Zapni svoju firmu</a>
        <a href="https://forms.gle/CwFrk4nfwGquZrFQ7" class="tile">Pridaj aktivitu</a>
      </div>
    </section>
  </div>
</Layout>
