---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="section-wrapper section-wrapper--large">
    <section class="section section--hero">
      <h1>Veríš v Slovensko?<br />Tak sa zapni.</h1>
      <p class="text-center">
        Tu každý, kto verí v Slovensko môže spraviť niečo konkrétne. Celé Slovensko vyzývame sa zapnúť. Nemanipulujeme
        kampaňami, vyzývame k činnosti a zdieľame zodpovednosť. Dlhodobá, nekonečná aktivita. Odmeňujeme zapnutých.
      </p>
    </section>
    <section class="section section--without-separator pt-0">
      <div class="grid grid-cols-1 tablet:grid-cols-2 desktop:grid-cols-3 gap-[20px] justify-center">
        <a href="/ponuky-zapnut-sa" class="tile">Zapni sa</a>
        <a href="https://forms.gle/dFdxU3rbqX5f3F5n7" class="tile">Zapni svoju firmu</a>
        <a href="https://forms.gle/CwFrk4nfwGquZrFQ7" class="tile">Pridaj aktivitu</a>
      </div>
    </section>
  </div>
</Layout>
