---
export interface Props {
  gtagCode?: string;
}

const { gtagCode } = Astro.props;
---

<div class="cookie-bar" x-data="cookieBar" x-show="consent === null" x-cloak>
  <p class="text-gray-800 tablet:text-justify">
    Táto stránka používa marketingové a analytické cookies, vďaka ktorým vám môžeme poskytovať personalizovaný obsah a
    reklamy, ako aj sledovať váš pohyb na stránke. Kliknutím na "Súhlasím" vyjadríte súhlas s použitím týchto cookies.
    Kliknutím na "Nesúhlasím" odmietate ukladanie týchto cookies na vašom zariadení. Viac informácií nájdete v sekcii <a
      href="/gdpr"
      class="text-primary font-medium hover:underline">ochrana osobných údajov</a
    >
  </p>

  <div class="tablet:basis-[200px] shrink-0">
    <button
      @click="handleConsent(true)"
      class="button button--primary w-full text-white border-2 border-primary hover:border-violet-600 !ring-offset-white"
      >Súhlasím</button
    >

    <button @click="handleConsent(false)" class="button button--primary-outlined mt-[8px] w-full">Nesúhlasím</button>
    <!-- <a class="button button--primary-outlined mt-[8px]" href="/gdpr">Ochrana osobných údajov</a> -->
  </div>
</div>

<script define:vars={{ gtagCode }}>
  document.addEventListener("alpine:init", () => {
    Alpine.data("cookieBar", function () {
      return {
        consent: this.$persist(null),

        handleConsent(value) {
          this.consent = value;
          if (!value) return;

          loadScript("/_vercel/insights/script.js");

          if (gtagCode) {
            loadScript(`https://www.googletagmanager.com/gtag/js?id=${gtagCode}`);

            window.dataLayer = window.dataLayer || [];

            function gtag() {
              dataLayer.push(arguments);
            }

            gtag("js", new Date());
            gtag("config", gtagCode);
          }
        },
      };
    });
  });

  const loadScript = url => {
    const scriptTag = document.createElement("script");

    scriptTag.type = "text/javascript";
    scriptTag.src = url;

    document.body.appendChild(scriptTag);
  };
</script>
