<footer
  class="w-full max-w-screen-mobile tablet:max-w-screen-desktop px-[16px] tablet:px-[32px] py-[60px] mx-auto flex flex-col tablet:flex-row justify-between gap-[24px] text-[14px] font-medium leading-none text-center"
>
  <div>&copy; 2023 <a class="link" href="/">Zapni sa pre Slovensko</a></div>

  <div>
    <a class="link" href="/gdpr">Podmienky ochrany osobných údajov</a>
  </div>

  <div class="text-indigo-400">
    Made by <a href="https://www.freevision.sk" class="underline">freevision</a>. Powered by <a
      href="https://www.onsinch.com"
      class="underline">onsinch</a
    >.
  </div>
</footer>
