<footer
  class="w-full max-w-screen-mobile tablet:max-w-screen-desktop px-[16px] tablet:px-[32px] py-[60px] mx-auto grid grid-cols-1 tablet:grid-cols-3 gap-[24px] text-[14px] font-medium leading-none text-center"
>
  <div class="leading-snug">
    &copy; 2023 <a class="hover:underline" href="/">Zapni sa pre Slovensko</a>
  </div>

  <div class="leading-snug">
    <a class="hover:underline" href="/gdpr">Podmienky ochrany osobných údajov</a>
  </div>

  <div class="text-indigo-400 leading-snug">
    Made by <a href="https://www.freevision.sk" class="underline hover:text-indigo-500">freevision</a>. Powered by <a
      href="https://www.onsinch.com"
      class="underline hover:text-indigo-500">onsinch</a
    >.
  </div>

  <div class="leading-snug">
    <a
      href="https://www.facebook.com/profile.php?id=100093671662320"
      class="hover:underline"
      rel="noopener noreferrer"
      target="_blank">Facebook</a
    >

    <span class="mx-[4px]">&bull;</span>

    <a
      href="https://www.instagram.com/zapnisapreslovensko"
      class="hover:underline"
      rel="noopener noreferrer"
      target="_blank">Instagram</a
    >

    <span class="mx-[4px]">&bull;</span>

    <a
      href="https://www.linkedin.com/company/zapnisapreslovensko"
      class="hover:underline"
      rel="noopener noreferrer"
      target="_blank">LinkedIn</a
    >
  </div>

  <div>
    <a
      href="https://drive.google.com/drive/folders/1k6t74u8QzsAMDpoV0ovfgRk8YzdAUSMo?usp=sharing"
      class="hover:underline"
      rel="noopener noreferrer"
      target="_blank">Media Kit</a
    >
  </div>
</footer>
