<footer
  class="w-full max-w-screen-mobile tablet:max-w-screen-desktop px-[16px] tablet:px-[32px] py-[60px] mx-auto flex flex-col tablet:flex-row justify-between gap-[24px] text-[14px] font-medium leading-none text-center"
>
  <div class="tablet:w-1/3 leading-snug">
    &copy; 2023 <a class="hover:underline" href="/">Zapni sa pre Slovensko</a>
  </div>

  <div class="tablet:w-1/3 leading-snug">
    <a class="hover:underline" href="/gdpr">Podmienky ochrany osobných údajov</a>
  </div>

  <div class="tablet:w-1/3 text-indigo-400 leading-snug">
    Made by <a href="https://www.freevision.sk" class="underline hover:text-indigo-500">freevision</a>. Powered by <a
      href="https://www.onsinch.com"
      class="underline hover:text-indigo-500">onsinch</a
    >.
  </div>
</footer>
