<div
  class="w-full flex flex-col tablet:flex-row gap-[33px] justify-between px-[20px] tablet:px-[40px] py-[30px] tablet:py-[37px] font-medium leading-none text-[14px]"
>
  <div class="tablet:w-1/3 tablet:text-center">&copy; 2023 <a class="link" href="/">Zapni sa pre Slovensko</a></div>
  <div class="tablet:w-1/3 tablet:text-center">
    <a class="link" href="/gdpr">Podmienky ochrany osobných údajov</a>
  </div>
  <div class="tablet:w-1/3 tablet:text-center text-indigo-400">
    Powered by <a href="https://www.onsinch.com" class="underline">onsinch</a>
  </div>
</div>
