@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;600;700&display=swap");

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-accent uppercase;
}

.button {
  @apply inline-block font-accent text-[30px] font-bold text-center uppercase leading-none py-[14px] px-[28px] rounded-[8px] cursor-pointer;

  &--primary {
    @apply text-secondary bg-primary;
  }

  &--secondary {
    @apply text-primary bg-secondary;
  }
}

.section {
  @apply pt-[120px] pb-[80px];

  &--primary {
    @apply bg-primary;

    & .section__content {
      > p {
        @apply text-white;
      }

      h1 {
        @apply text-white;

        strong {
          @apply text-secondary;
        }
      }

      > h2 {
        @apply text-white;
      }
    }
  }

  &--secondary {
    @apply bg-secondary;
  }

  &--hero {
    @apply section--primary pt-[70px] pb-[150px] overflow-hidden;

    & .section__content {
      @apply relative after:absolute;
      @apply laptop:after:content-[url(/images/hero-decoration.svg)];
      @apply after:translate-y-[-50%] after:translate-x-[-50%];
      @apply after:top-[60%] after:left-[100%];

      & > * {
        @apply max-w-[675px];
      }

      > h1 {
        @apply text-white text-[80px] font-bold leading-tight tracking-[-2.4px];
      }

      > h2 {
        @apply font-sans text-secondary text-[24px] font-bold text-left normal-case;
      }

      > p,
      > ul {
        @apply text-white text-[24px];
      }

      strong {
        @apply font-semibold;
      }
    }
  }

  &__content {
    @apply w-full max-w-screen-mobile tablet:max-w-screen-desktop px-[16px] tablet:px-[32px] mx-auto;

    > p {
      @apply text-[24px] leading-normal;
    }

    h1 {
      @apply text-[80px] font-bold leading-tight tracking-[-2.4px];
    }

    > h2 {
      @apply text-[64px] font-bold text-center;
    }
  }
}

.tile {
  @apply relative w-full h-full min-w-[335px] max-w-[335px] tablet:max-w-[367px] desktop:max-w-[373px] px-[20px] py-[12px];
  @apply text-primary text-[36px] font-semibold bg-violet-100  rounded-[8px];
  @apply justify-self-center tablet:odd:justify-self-end tablet:even:justify-self-start desktop:odd:justify-self-center desktop:even:justify-self-center;
  @apply after:block after:w-[46px] after:h-[46px] after:absolute after:bottom-[16px] after:right-[24px];

  aspect-ratio: 1;

  &::after {
    content: url('data:image/svg+xml,<svg viewBox="0 0 45 29" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.951727 16.4958V13.3458H38.3917L28.0117 2.96581L30.0217 0.955813L44.0017 14.9358L30.0217 28.9158L28.0117 26.9058L38.4217 16.4958H0.951727Z" fill="%235f1fc2"/></svg>');
  }

  &:hover {
    @apply bg-violet-200;
  }

  /* background-image: url();
  background-repeat: no-repeat;
  background-position: bottom 20px right 20px;
  background-size: 43px; */
}

/* .logo {
  @apply absolute left-0 top-0 w-full h-full;
}

a {
  &:hover {
    .logo {
      @apply rotate-180 -scale-x-100;
    }
  }
}

.link {
  &:hover {
    @apply text-secondary;
  }
}

.button {
  @apply inline-flex font-medium rounded-[30px] text-sm px-[40px] text-center text-[18px] h-[60px] items-center justify-center;
  @apply bg-primary text-white;

  &:hover {
    @apply bg-secondary;
  }

  &:focus {
    @apply outline-none;
  }

  &--secondary {
    @apply bg-secondary;

    &:hover {
      @apply bg-primary;
    }
  }

  &--accent {
    @apply bg-accent text-primary;

    &:hover {
      @apply bg-primary text-white;
    }
  }

  &--ghost {
    @apply bg-white border-2 border-primary text-primary;

    &:hover {
      @apply bg-primary text-white;
    }
  }
}

.checkbox {
  @apply w-[30px] h-[30px] border-2 border-primary appearance-none;

  &:checked {
    @apply text-primary;

    background-image: url('data:image/svg+xml,<svg viewBox="-5 0 27 14" fill="blue" xmlns="http://www.w3.org/2000/svg"><path d="M17.2665 2.40744C17.6572 2.0171 17.6575 1.38393 17.2671 0.993224C16.8768 0.602515 16.2436 0.602217 15.8529 0.992557L5.95019 10.886L1.70711 6.64289C1.31658 6.25237 0.683416 6.25237 0.292892 6.64289C-0.0976321 7.03342 -0.0976319 7.66658 0.292892 8.05711L5.22825 12.9925C5.23286 12.9973 5.23754 13.002 5.24227 13.0068C5.43677 13.2015 5.69157 13.2992 5.94662 13.3C6.20367 13.3009 6.46098 13.2032 6.65711 13.0071C6.66186 13.0024 6.66655 12.9976 6.67119 12.9927L17.2665 2.40744Z"></path></svg>');
    background-repeat: no-repeat;
    background-position: center center;
  }
} */

nav {
  .menu {
    @apply flex gap-[24px] items-center;

    .link {
      @apply text-white text-[16px] font-medium leading-none;
    }

    &.menu--primary {
    }

    &.menu--mobile {
      @apply desktop:hidden;
    }
  }
}

/* .section-wrapper {
  @apply px-[20px] tablet:px-[36px] desktop:px-[128px] max-w-[375px] tablet:max-w-screen-tablet desktop:max-w-screen-desktop mx-auto;

  &--large {
    @apply tablet:px-[40px] desktop:px-[80px];
  }

  &--xlarge {
    @apply tablet:px-[40px];
  }
}

.section {
  @apply flex flex-col gap-[20px] py-[45px] tablet:py-[60px];
  @apply border-t border-separator;

  > h2 {
    @apply text-[40px] font-bold leading-10 tablet:text-center mb-[20px];
  }

  h3 {
    @apply text-[30px] font-bold leading-10 text-center;
  }

  > p {
    @apply text-[24px] font-[200] leading-10;

    .cta {
      @apply font-bold;
    }

    &.stronger {
      @apply font-semibold;
    }
  }

  &--hero {
    @apply pt-[0px] tablet:pt-[70px] border-t-0 border-transparent;

    > h1 {
      @apply text-[50px] desktop:text-[70px] font-bold text-center leading-tight;
    }

    > p {
      @apply font-semibold leading-10;
    }

    > ul {
      li {
        @apply text-[24px] text-center leading-loose;
      }
    }
  }

  &--without-separator {
    @apply border-t-0 border-transparent;
  }
}

.donations {
  .button {
    @apply bg-secondary text-white min-w-0 w-full;

    &:hover {
      @apply bg-white text-secondary;
    }
  }

  label {
    &.button--ghost {
      @apply text-white border-white bg-primary cursor-pointer;

      &:hover {
        @apply bg-white text-primary;
      }
    }
  }
}

form {
  .form-input {
    @apply flex flex-col gap-[10px];
  }

  select,
  input {
    @apply appearance-none bg-white border-2 border-primary rounded-[6px] h-[60px] px-[18px] pr-[48px];
    @apply text-[18px] font-medium;

    background-image: url('data:image/svg+xml,<svg viewBox="0 0 10 8" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M5 8L0.669873 0.499999L9.33013 0.5L5 8Z" fill="blue"/></svg>');
    background-size: 10px;
    background-position: right 20px center;
    background-repeat: no-repeat;

    &[type="date"] {
      @apply relative;
      &::-webkit-inner-spin-button,
      &::-webkit-calendar-picker-indicator {
        @apply bg-none absolute right-[2px] p-[14px] opacity-50;
      }
    }
  }
}

.activity {
  @apply bg-violet-50 rounded-[8px] overflow-clip flex flex-col;

  img {
    @apply object-cover;
    aspect-ratio: 1;
  }

  .button {
    @apply text-[18px] w-full;
  }

  .field {
    @apply flex flex-col gap-[5px] w-full;

    label {
      @apply uppercase tracking-widest text-[12px];
    }

    span {
      @apply text-[18px] font-bold leading-7;
    }

    &--light {
      span {
        @apply font-normal;
      }
    }
  }
} */

[x-cloak] {
  display: none !important;
}
