---
import "../style.scss";
import Gtag from "../components/Gtag.astro";

export interface Props {
  title: string;
  description: string | null;
  keywords: string | null;
}

const siteName = "Kto verí v Slovensko?";
const defaultTitle = siteName;
const defaultDescription = "";
const defaultKeywords = "";

const { ...current } = Astro.props;

const gtagCode = import.meta.env.GTAG_CODE;
---

<html lang="sk">
  <head>
    <Gtag code={gtagCode} />
    <title>{current.title} | LSTME</title>

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />

    <meta property="og:site_name" content={siteName} />
    <meta
      name="title"
      property="og:title"
      content={current.title || defaultTitle}
    />
    <meta
      name="description"
      property="og:description"
      content={current.description || defaultDescription}
    />
    <meta name="keywords" content={current.keywords || defaultKeywords} />
  </head>
  <body>
    <slot />
  </body>
</html>
